 body {
     font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF; 
    color: #434455;
 }
p,ul,h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;   
}
 ul {
     list-style-type: none;
padding-left: 0;
margin-top: 0;
    margin-bottom: 0;
 }

 a {
     text-decoration: none;
 }
button{
    cursor: pointer;
}
.img {
    display: block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    
}

.container{
width: 1158px;
padding: 0 15px;
margin: 0 auto;
} 

 
      
.header-navigation{
    display: flex;
    align-items:center;
 margin-left: 156px;
 margin-right: 332px;
    
}

.header-container{
    display: flex;
    align-items: center;

}
.header-logo{
    color: var(--CLOUD, #4d5ae5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    
       
        

}
.header-logo-studio{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        
}
 .header-menu-link {
     color: var(--NAVY-BLUE, #2E2F42);
     font-size: 16px;
     font-weight: 500;
     line-height: 1.50;
     letter-spacing: 0.02em;
    padding: 24px 0;

 }
   .header-menu-list {
       display: flex;
    align-items: center;
    margin-left: 76px;
    gap: 40px;
    padding: 24px 0;
    }
 .header-menu-link:hover,
 .header-menu-link:focus{
color:#404bbf;
 }
 .header-adress{
    font-style: normal;
 }
 .adress-menu-list {
     display: flex;
     align-items: center;
     gap: 40px;


 }
  .header-adress-mailto {
    color: var(--SLATE, #434455); 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    .header-adress-mailto:hover,
    .header-adress-mailto:focus{
color:#404bbf;
    }
.header-adress-tel{
    color: var(--SLATE,#434455); 
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
    }
    
    .header-adress-tel:hover,
    .header-adress-tel:focus{
        color: #404bbf;
 
 }



.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);
 padding: 188px 0 188px;


    }

.hero-titel{
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07; 
        letter-spacing: 0.02em;
        max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}
.hero-btn {
    background-color: #4D5AE5
    }
.hero-btn {
        color: var(--WHITE, #FFF);
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer ; 
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            margin-left: 636px;
            margin-right: 635px;
            border-radius: 4px;
        }
    
         
  .hero-btn:hover,
 .hero-btn:focus,
.hero-btn:active{
background-color: #404BBF
                   }

 .features {
    background-color: #FFFFFF;
    padding-bottom: 120px;
    padding-top: 120px;
 }
 .visually-hidden{

 }
  
 .features-list {
    display: flex;
        align-items: center;
        gap: 24px;
 }
     
 .feature-item {
    width: calc((100% - 72px) / 4);
 }
        
 .fatures-subtitel {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
         font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        max-width: 264px;
        margin-bottom: 8px;
 }
        
.fetures-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;

       
}
.team {
    background-color: var(--CLOUD, #F4F4FD);
        padding: 120px 0;
    
}
.container-team {
    padding: 32px 0;

}
    .team-container {
      
    }

.team-titel {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
display: flex;
    align-items: center;
    gap: 24px;
   
    padding: 120px 0
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px
}

.team-img {
    padding-bottom: 32px;
}

.team-name {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;
}

.team-text {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;

}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-conteiner {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
        
    
    
}

.portfolio-titel {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        margin-left: 156px;
        margin-right: 156px;
    row-gap: 48px;
}

.portfolio-item {
    background: var(--white);
   
}

.portfolio-img {
   
}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: calc((100% - 48px) / 3);
}

.portfolio-subtitel {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-text {
    color: var(--SLATE, #434455);
    
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.footer-logo {
    color: var(--CLOUD,#4d5ae5);
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
}

.footer-logo-studio {
    color: var(--IRIS,#F4F4FD);
    
}

.footer-text {
    color: var(--CLOUD,#F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        padding-top: 16px;
        max-width: 264px;
}